
/* ################# HEADER ################# */

#masthead.site-header { padding: 0; }
#masthead.site-header .header-menu {float:right; margin:25px 50px 0 0; }
#masthead.site-header .header-menu a { color:#FFF; font-size:24px; margin: 0 20px; }
#masthead .home-header { display:none; text-align: center; color: white; min-height:750px; padding-top:0; position:relative;
	background-image: linear-gradient( to right, rgba(00, 00, 00, 0.35) 33%, rgba(00,00,00, 0) ), url(../images/architecture-1851149_1920.jpg);
    background-repeat: no-repeat; background-attachment: scroll; background-position: center top; background-size: cover;
}
#masthead .home-header .intro-text { text-align: left; bottom: 50px; position: absolute; left: 100px; background-color: #000; opacity: 0.8; padding:15px 25px; border:solid 1px #eee; }
#masthead .home-header .intro-text .heading1 {font-size:30px; margin-bottom:10px;}
#masthead .home-header .intro-text .heading2 {font-size:22px; margin-bottom: 5px; }

#masthead .reg-header .intro-text { text-align: left; bottom: 50px; position: absolute; left: 100px; }
#masthead .reg-header { display:none; text-align: center; color: white; min-height:200px; padding-top:0; position: relative;
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.3) 40%, rgba(0,0,0, 0.6) ), url(../images/baseball-764640_1920.jpg);
    background-repeat: no-repeat; background-attachment: scroll; background-position: center top; background-size: cover;
}

/* ################# Footer ################# */

footer { text-align:center; }

footer .footer-main { background-color: #1d2d5c; padding: 0; }
footer .footer-main ul { margin-bottom: 5px; }
footer .footer-main ul li { display: inline-block; font-size: 16px; }
footer .footer-main ul li a { color:#fff; padding: 8px 25px; }
footer .footer-main ul li a:hover { color:#aaa; }
footer .footer-main p { color:#fff; margin:0; font-size:12px; padding-bottom: 10px; }


/* ################# MENU ################# */

.mainNav { padding-top:20px; }
#masthead.site-header .menu-container { background-image: linear-gradient( to bottom, rgb(8, 8, 8, 0.75) 55%, rgba(00,00,00, 0) ); height: 100px; }
.mainNav .nav-button { background-color:#193660; color:#FFF; padding: 6px 10px; text-transform:uppercase; margin-left:5px; font-size:14px; font-weight:bold; }
.mainNav .nav-button.rev { border:solid 2px #193660; color:#193660; background-color:#fff; }

.mainNav .navbar-toggler { font-size: 12px; right: 0; padding: 13px; text-transform: uppercase; color: white; border: 0; background-color: grey; }
.mainNav .navbar-logo { display: block; text-indent: -9999px; width: 115px; height: 65px; background: url('http://www.mlbstatic.com/team-logos/league-on-dark/1.svg'); background-size:115px; background-repeat: no-repeat; -webkit-transition: all 0.3s; transition: all 0.3s; }
.mainNav .navbar-nav .nav-item .nav-link { font-size: 90%; padding: 0 25px; letter-spacing: 1px; color: #fff; font-size: 24px; }
.mainNav .navbar-nav .nav-item .nav-link.active, .mainNav .navbar-nav .nav-item .nav-link:hover { text-decoration:underline; }

.mainNav .navbar-collapse { /*margin-top:30px; padding-top: 15px;*/ }
.mainNav.navbar-shrink .navbar-collapse { margin-top:0; }

.dropdown-item.active, .dropdown-item:active { background-color: #041e42; }

@media (min-width: 992px) {
  .mainNav { padding-bottom: 10px; -webkit-transition: padding-top 0.3s, padding-bottom 0.3s; transition: padding-top 0.3s, padding-bottom 0.3s; border: none; }
  .mainNav.navbar-shrink .navbar-nav .nav-item .nav-link { padding: 5px 25px!important; font-size: 16px; }
  .mainNav.navbar-shrink { padding-top: 0; padding-bottom: 0; background-color: #ffffff; border-bottom: 5px #1d2d5c solid; }
  .mainNav.navbar-shrink .navbar-nav .nav-item .nav-link { color: #888; }
  .mainNav.navbar-shrink .navbar-nav .nav-item .nav-link.active, .mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover { text-decoration:underline; }

  .mainNav.navbar-shrink .navbar-logo { width: 85px; height: 45px; background: url('http://www.mlbstatic.com/team-logos/league-on-dark/1.svg'); background-size: 85px; background-repeat: no-repeat; }
}

/* ################# Teams Page ################# */

.container.teams-page { text-align:center; }
.teams-page .team_card { text-align:center; margin-bottom:35px; border: solid 1px #e8e8e8;; padding: 15px; }

.teams-page .team_card {
    border: 7px solid #bbb; outline: none; box-shadow: none;
    -webkit-transition: border-color 0.15s ease-in-out, color 0.2s ease-in-out, transform 0.3s ease-in-out;
    -moz-transition: border-color 0.15s ease-in-out, color 0.2s ease-in-out, transform 0.3s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, color 0.2s ease-in-out, transform 0.3s ease-in-out;
    -ms-transition: border-color 0.15s ease-in-out, color 0.2s ease-in-out, transform 0.3s ease-in-out;
    transition: border-color 0.15s ease-in-out, color 0.2s ease-in-out, transform 0.3s ease-in-out;
}
.teams-page .team_card:hover { border-color: #333; box-shadow: 5px 7px 8px rgba(0,0,0,0.5);	background-color:#efefef; -webkit-transform: scale(1.03); -ms-transform: scale(1.03); transform: scale(1.03); }


.teams-page .team_card img { max-width: 135px; margin: 15px 0; height:130px; max-height:130px; }
.teams-page .team_card p{ margin:0; color:#000; font-size: 18px; }
.teams-page a { color:#000; text-decoration:none !important; }
.teams-page a:hover p { color:#147cd1; }

.teams-page .header { text-align:center; font-size:32px; border-bottom:none; padding-bottom: 10px; }
.teams-page .subheader { text-align:center; font-size:26px; /*border-bottom: #ccc solid 1px;*/ border-bottom:none; padding-bottom: 10px; }

/* ################# Team Page ################# */

.team-page #nextgame_matchup .next_logo { padding: 5px; max-width:75px; max-height:75px; height:75px; }
.team-page #nextgame_matchup .col1, #nextgame_matchup .col2, #nextgame_matchup .col3 { text-align:center; }
.team-page #nextgame_matchup .away_team, #nextgame_matchup .home_team { font-size:18px; text-align:center;}
.team-page #nextgame_matchup .away_record, #nextgame_matchup .home_record { font-size:14px; text-align:center; }
.team-page #nextgame_matchup .team_at { font-size: 14px; margin-top: 25px; }

.team-page #team_leaders { font-size:16px; line-height: 150%; }

.roster_table .player-headshot { padding: 0; margin:4px 0; border: none; max-width: 50px; }
.page-header { margin-bottom: 5px; font-weight: bold; }

.roster_table thead tr:first-child { background-color:#1d2d5c ; color:#fff; }
.roster_table thead tr th { border:none; }
.roster_table td { padding:0; font-size:16px; }
.roster_table td a { text-decoration:none; }
.roster_table .headings td { font-weight:bold; padding:5px 0; }
.roster_table td { border: 1px solid #cdcdcd; border-left:none; border-right:none; }

.roster_table td:first-child { padding-left:8px !important; width: 5%; }
.roster_table td:nth-child(2) { width:10%; }
.roster_table td:nth-child(3) {  }
.roster_table td:nth-child(4) {  text-align:center; width:7%; }
.roster_table td:nth-child(5) {  text-align:center; width:7%; }
.roster_table td:nth-child(6) {  text-align:center; width:10%; }
.roster_table td:nth-child(7) {  text-align:center; width:10%; }


.roster_table #coachesTable td:nth-child(4) { text-align:left; width:30%; }

.team-page .legend { font-size:12px; }


/* ################# Player Page ################# */
.player-page .container {padding-right: 0; padding-left: 0; max-width:none; }
.player-page .player-header { font-weight: bold; position: relative; background-size: cover; background-position: top center; box-shadow: 0 -30px 50px 20px #000 inset; }
.player-page .player-header-container { background-color: transparent; padding-top: 33.3%; }
.player-page .player-headshot { padding: 10px; background-color: #eee; border: solid 1px #bbb; max-width: 155px; margin-top: -170px; margin-left: 25px; }
.player-page .detailed-info { font-size:14px; margin-top:10px; margin-left: 25px; }
.player-page .player-header-text { margin-top:-75px; color:#fff; line-height: 150%; }
.player-page .player-header-main { font-size:32px; font-weight:bold; }
.player-page .player-header-sub { font-size:24px; }
.player-page .player_status { font-size:14px; }


.tabMain { margin-top:10px; }

.tabMain ul { width: 600px; margin: 0; background-color:#f1f1f1; margin: 5px auto 10px; padding: 5px 15px 0; border: solid 1px #ccc; }
.tabMain.sm ul { width: 300px; }
.tabMain li { float: left; width:33%; list-style: none; text-align:center; }
.tabMain.sm li { width:50%;  }

.tabMain #nav_active { position: relative; z-index: 10; width: 100px; background: none #f1f2f6; font-size:16px; }
.tabMain li a .line { border-right: 1px solid #dde0e7; line-height: 20px; display: block; padding: 0 20px; }
.tabMain li a .noline { border-right: none !important; }

.tabMain li a .line span { display: inline-block; line-height: 40px; padding: 0 20px; border-radius: 5px; font-size: 16px; }
.tabMain li .tab_current .line span { display: inline-block; line-height: 35px; padding: 0 20px; border-radius: 5px; color: #fff; }
.tabMain.sm li .tab_current .line span { padding: 0 15px; }
.tabMain .tab_current .line span { background: #1d2d5c; }


.player-page .table-headings { font-size:22px; margin-bottom:10px; }
.player-page #sTable th, .player-page #sTable td { text-align:right; } 

.player-page .stats_table_container { font-size:12px; }

.player-page #stats_table_career thead tr:first-child { background-color:#1d2d5c ; color:#fff; }
.player-page #stats_table_career tr, .player-page #stats_table_career td { text-align:right; }


.stats_table thead tr:first-child { background-color:#1d2d5c ; color:#fff; }
.stats_table tr th:first-child, .stats_table tr td:first-child { font-weight:bold; text-align:left !important; }
.stats_table thead tr th { border:none; }
.stats_table th, .stats_table td { padding: 5px; font-size:12px; }
.stats_table td a { text-decoration:none; }
.stats_table .headings td { font-weight:bold; padding:5px 0; }
.stats_table td { border: 1px solid #cdcdcd; border-left:none; border-right:none; }

.stats_table td:first-child { padding-left:8px !important; }

/* ################# MISC ################# */

/*.entry .entry-content > * { margin:auto; }*/
.entry .entry-content > * { max-width:none;}

.star { color:red; }
body, p { font-family: 'Montserrat', sans-serif; }

.animated.slow { animation-duration: 1.5s !important; } 
.animated.slower { animation-duration: 2.5s !important; } 


.teams-page h2.header, .team-page h2.header { display:inline-block; position: relative; padding-bottom:0; font-size:48px; line-height: 150%; margin-bottom: 25px; }
.teams-page>h2:before, .team-page h2.header:before { height: 4px; content: ''; position: absolute; bottom: 0; left: 0; width: 100%; margin: 0; background: #000; }

.team-page h2.header { font-size:30px; margin-bottom: 15px; }




/* ################# Responsive ################# */


@media (min-width: 300px) {
	.entry .entry-content, .entry .entry-summary { max-width: 100%; padding: 0px 5px; }
	.container { max-width: none; padding-right: 5px; padding-left: 5px; }
	
	.player-page .player-headshot { padding: 4px; max-width: 90px; margin-top: -120px; margin-left: 5px; }
	.player-page .player-header-text { margin-left: 110px; margin-top: -55px; line-height: 110%; }
	.player-page .player-header-main { font-size: 24px;	}
	.player-page .player-header-sub { font-size: 14px; }

	.player-page .detailed-info { margin-left: 10px; }
	.stats_table_container { margin-top:15px; }
	.tabMain ul { width: 100%; }
	
	.stats_table { overflow-x: auto; display: block; white-space: nowrap; }
}

@media screen and (max-width: 768px) and (min-width: 300px) {
	#masthead .home-header .intro-text { left: 50px; }
	#masthead .home-header .intro-text .heading1 {font-size:22px; margin-bottom:5px;}
	#masthead .home-header .intro-text .heading2 { font-size: 14px; }
		
	.player-page .player-header-main { font-size: 20px;	}
	.player-page .player-header-sub { font-size: 12px; }

	.tabMain li a .line span { font-size: 12px; }
	
	.roster_table td { font-size: 14px;	}
	.roster_table td:first-child { width: 8%; }
	.roster_table td:nth-child(3) a { padding-left: 10px; }
	.roster_table td:nth-child(4) { width:7%; }
	.roster_table td:nth-child(5) { width:7%; }
	.roster_table td:nth-child(6) { width:12%; }
	.roster_table td:nth-child(7) { width:20%; }	
}

@media screen and (max-width: 991px) and (min-width: 300px) {
	.navbar { background-color: #bbb; }
	#masthead .reg-header { min-height: 100px; background-image:none; }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
	.entry .entry-content { max-width: 100%; padding: 0px 15px; }
	.entry .entry-content .team-page, .entry .entry-content .player-page { max-width: 80%; }
	.container { max-width: none; }
	
	.player-page .player-headshot {	padding: 10px; max-width: 155px; margin-top: -120px; margin-left: 25px;	}
}

@media (min-width: 992px) {
  .mainNav { padding-bottom: 10px; -webkit-transition: padding-top 0.3s, padding-bottom 0.3s; transition: padding-top 0.3s, padding-bottom 0.3s; border: none; }
  .mainNav.navbar-shrink .navbar-nav .nav-item .nav-link { padding: 5px 25px!important; font-size: 16px; }
  .mainNav.navbar-shrink { padding-top: 0; padding-bottom: 0; background-color: #ffffff; border-bottom: 5px #1d2d5c solid; }
  .mainNav.navbar-shrink .navbar-nav .nav-item .nav-link { color: #888; }
  .mainNav.navbar-shrink .navbar-nav .nav-item .nav-link.active, .mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover { text-decoration:underline; }

  .mainNav.navbar-shrink .navbar-logo { width: 85px; height: 45px; background: url('http://www.mlbstatic.com/team-logos/league-on-dark/1.svg'); background-size: 85px; background-repeat: no-repeat; }
  .tabMain ul { width: 600px; }
}

@media (min-width: 1200px) {
  .player-page .player-headshot { padding: 10px; max-width: 155px; margin-top: -170px; margin-left: 25px; }
  .stats_table_container { margin-top:0; }
}




